{
  "presets": [
      "@babel/preset-typescript",
      "@babel/preset-react",
      [
          "@babel/preset-env",
          {
              "targets": {
                  "node": true
              }
          },
          "stage-0"
      ]
  ],
  "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-transform-typescript",
      "@babel/plugin-transform-react-constant-elements",
      "@babel/plugin-transform-react-display-name",
      "@babel/plugin-transform-react-inline-elements",
      "@babel/plugin-transform-react-jsx",
      "@babel/plugin-transform-react-jsx-compat",
      "@babel/plugin-transform-react-jsx-self",
      "@babel/plugin-transform-react-jsx-source",
      "@babel/plugin-syntax-jsx",
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": true }],
      ["@babel/plugin-proposal-class-static-block", { "loose": true }],
      "@babel/plugin-proposal-export-default-from",
      "@babel/plugin-proposal-export-namespace-from",
      [
          "@babel/plugin-transform-regenerator",
          {
              "asyncGenerators": false,
              "generators": false,
              "async": false
          }
      ]
  ]
}
